.alignNext {
  display: inline;
}
.button {
  border-radius: 10px;
}

.top-bar {
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.dropdown.menu,
.top-bar {
  background: #dae7d4;
  color: black;
}
.media-object {
  margin-top: 150px;
}

a {
  color: black;
}
a:hover {
  color: grey;
}
