.top-bar[b-g8o6n169oq] {
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.dropdown.menu[b-g8o6n169oq],
.top-bar[b-g8o6n169oq] {
  background: #dae7d4;
  color: black;
}

a[b-g8o6n169oq] {
  color: black;
}
a:hover[b-g8o6n169oq] {
  color: grey;
}
