
<div class="top-bar">
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Kanban Board</li>
      <li>
        <a href="#">Continue!</a>
        <ul class="menu vertical">
            <li>
                <NavLink class="nav-link" href="signup">
                    Sign Up 
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="guest">
                    Guest
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="login">
                    Login
                </NavLink>
            </li>
        </ul>
      </li>
            <li>
                <NavLink class="nav-link" href="about">
                    About
                </NavLink>
            </li>      
            <li>
                <NavLink class="nav-link" href="development">
                    Development
                </NavLink>
            </li>       
        </ul>
  </div>
</div>
