@page "/boardView"
@inject IJSRuntime JS

    <h1>Board View</h1>

    <a class="button" href="/">Go back</a>
    <div class="reveal" id="modal1" data-reveal>
      <div>
        <label>
          Input title of task
          <input id="title" type="text" placeholer="name" />
        </label>
        <label>
          Input status of the task
          <input id="status" type="text" placeholer="status" />
        </label>
        <label>
          Input a description for the task
          <input id="description" type="text" placeholer="description" />
        </label>
        <label>
          Assign a person for the task
          <input id="assignee" type="text" placeholer="person" />
        </label>
        <label>
          Assign a due date for the task
          <input id="dueDate" type="date" placeholer="date" />
        </label>
        <button class="button" onclick="fillInBoard()">Submit</button>
      </div>
    </div>
    <p>
      <button class="button" data-open="modal1">Click me for a modal</button>
    </p>

